* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu", sans-serif;
  background-color: #000;
  color: #fff;
}

header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/Netflix-background-image.jpg);
  background-size: cover;
}

.nav-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3.2rem;
  padding: 0 0 1.2rem 0;
}

.netflix-logo {
  width: 18rem;
  height: auto;
}

.sign-in-btn {
  padding: 0.7rem 1.4rem;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  background-color: #e50914;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-in-btn:hover,
.sign-in-btn:active {
  background-color: #c50812;
}

.header-text-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  text-align: center;
}

.inner-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 5.2rem;
  font-weight: 900;
  line-height: 1.4;
}

.header-second-text {
  margin-bottom: 1.2rem;
}

.header-first-p {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  font-weight: 600;
}

.header-second-p {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  font-weight: 500;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.form input {
  width: 60%;
  background-color: rgba(51, 51, 51, 0.5);
  border: 1px solid #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  font-size: 1.6rem;
  color: #fff;
}

.cta-button {
  background-color: #e50914;
  border: none;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  transition: background-color 0.3s ease;
  padding: 2rem;
}

.cta-button:hover,
.cta-button:active {
  background-color: #c50812;
}

.cta-icon {
  padding-left: 1.2rem;
}

.movie-section {
  padding: 4.8rem 0 8.4rem 0;
  margin: 0 auto;
}

.container {
  width: 77%;
  margin-bottom: 1.2rem;
  margin: 0 auto;
}

.section-text {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
}

.selects {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 1.2rem;
}

.select {
  background-color: #131313;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  appearance: none;
  padding: 0.5rem 5rem 0.5rem 0.5rem;
}

.select-container {
  position: relative;
}

.select-container::after {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 8px;
  transform: translateY(-50%);
  pointer-events: none;
}

.slider-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-outer-container {
  width: 70%;
  overflow: hidden;
}

.slider-container {
  display: flex;
  gap: 2rem;
  transition: transform 0.5s ease-in-out;
}

.image-div {
  width: 18rem;
  height: 25rem;
  flex-shrink: 0;
}

.image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.image-div img:hover {
  transform: scale(1.1);
}

.btn {
  position: absolute;
  width: 2.4rem;
  height: 12.8rem;
  background-color: #141414;
  border-radius: 0.8rem;
  transition: background-color 0.3s ease;
}

.prev-btn {
  top: 50%;
  left: 12%;
  transform: translateY(-50%);
}

.next-btn {
  top: 50%;
  right: 12%;
  transform: translateY(-50%);
}

.next-btn:hover,
.nextBtn:active {
  background-color: #333;
}

.features-section {
  padding: 0 0 8.4rem 0;
  margin: 0 auto;
}

.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.feature {
  position: relative;
  border-radius: 1.2rem;
  width: 100%;
  height: 100%;
  padding: 3rem 1.5rem;
  background: linear-gradient(
    to right bottom,
    rgba(27, 30, 56, 1) 50%,
    rgba(255, 77, 77, 0.1)
  );
}

.features-text {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 1.8rem;
}

.second-features-text {
  font-size: 1.6rem;
  color: #d9d9d9;
  line-height: 1.2;
  margin-bottom: 8rem;
  font-weight: 500;
}

.features-icon {
  position: absolute;
  bottom: 0;
  right: 2rem;
  width: 6rem;
  height: 6rem;
  margin-bottom: 1rem;
  fill: rgba(255, 77, 77);
}

.outline {
  stroke: rgba(255, 77, 77);
}

.FAQ-section {
  padding: 0 0 8.4rem 0;
  margin: 0 auto;
}

.FAQ-text {
  font-size: 2.2rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.FAQ-item {
  margin-top: 1rem;
  background-color: #252525;
}

.FAQ-question {
  position: relative;
  display: flex;
  width: 100%;
  padding: 2.4rem;
}

.FAQ-question p {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.5;
}

.FAQ-question:active,
.FAQ-question:hover {
  cursor: pointer;
  background-color: #444;
}

.FAQ-question p::after {
  content: '\002B';
  position: absolute;
  font-size: 6rem;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.FAQ-question.active p::after {
  transform: translateY(-50%) rotate(45deg);
}

.FAQ-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease;
}

.FAQ-answer .FAQ-answer-text {
  padding: 2rem;
  border-top: 1px solid #000;
}

.FAQ-content {
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 2rem;
}

.FAQ-content:first-child {
  margin-top: 0;
}

/* .FAQ-question.active + .FAQ-answer {
  max-height: 200px;
} */

.second-cta-section {
  padding: 0 0 7.2rem 0;
  margin: 0 auto;
}

.cta-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-text {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  font-weight: 500;
}

.footer-section {
  padding: 0 0 12.6rem 0;
  margin: 0 auto;
}

.container footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.4rem;
  color: #999;
}

.contact-link a{
  font-size: 1.4rem;
}

.contact-link a:link, .contact-link a:visited  {
  color: #e5dddd;
}

.contact-link a:hover, .contact-link a:active  {
  color: #888;
}

.footer-links ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  padding: 0;
  margin: 1.6rem 0;
  font-size: 1.4rem;
  gap: 2rem;
  margin: 4.2rem 0 6rem 0;
}

.footer-links a:link, .footer-links a:visited  {
color: #e5dddd;

}

.footer-links a:hover, .footer-links a:active  {
  color: #888;
}

.footer-p {
  font-size: 1.4rem;
  margin-top: 4rem;
}

#auth-p {
  color: #999;
}

#auth-p a:link, #auth-p a:visited  {
  color: rgb(55, 55, 250);
}

.footer-first-sign {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 8px;
  transform: translateY(-50%);
  pointer-events: none;
}

.footer-select-container {
  position: relative;
}

.footer-select {
  background-color: #131313;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  appearance: none;
  padding: 0.6rem 3rem;
}

.footer-second-sign {
  position: absolute;
  top: 50%;
  left: 90px;
  font-size: 8px;
  transform: translateY(-50%);
  pointer-events: none;
}